<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>Rut</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Birthdate</th>
      <th>Roles</th>
      <th>Positions</th>
      <th>Businesses</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.telephone %></td>
        <td><%= employee.rut %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.status %></td>
        <td><%= employee.birthdate %></td>
        <td><%= employee.roles_id %></td>
        <td><%= employee.positions_id %></td>
        <td><%= employee.businesses_id %></td>
        <td><%= employee.address_id %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
